@page "/functions"
@inject HttpClient Http

<h1>Azure function data</h1>

@if(message == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <p>The message is: @message</p>
}

@code {
    string message;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("https://gazblazhttp.azurewebsites.net/api/HttpTrigger1?");
    }
}